/* TODO: groupServices:false
if (tarteaucitron) {
    if (narrow) {
        document.querySelector("#tarteaucitronAlertBig").classList.add("narrow")
    }
} */

:root {
    --c-alertBig-bg: #fff;
    --margin: 1rem;
    --half-margin: calc(var(--margin) / 2);
    --c-green: #009e2f;
    --c-blue: #2d5cc9;
    --c-red: #d02346;
    --c-brown: #694c35;
    --c-yellow: gold;
}

@font-face {
    font-family: "open-sans";
    src: url(/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

#tarteaucitronRoot *,
#tarteaucitronRoot *::before,
#tarteaucitronRoot *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#tarteaucitronRoot {
    font-family: "open-sans", sans-serif;
    color: #222;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

#tarteaucitronRoot input,
#tarteaucitronRoot textarea,
#tarteaucitronRoot button {
    font-family: inherit;
}

#tarteaucitronRoot ul {
    list-style-type: none;
}

.tac_visually-hidden {
    display: none;
}

#tarteaucitron .tarteaucitronHidden {
    display: none;
}

#tarteaucitron a {
    color: inherit;
    font-size: 0.75rem;
    margin-right: var(--margin);
    text-decoration: underline solid 1px;
    text-underline-offset: 0.2rem;
}

#tarteaucitron a:hover {
    text-decoration-thickness: 3px;
}

#tarteaucitron #tarteaucitronServicesTitle_mandatory .tarteaucitronTitle {
    display: initial;
}

#tarteaucitron button.tarteaucitron-toggle-group {
    display: block;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-weight: bold;
    line-height: 1.4;
    /* padding: 0.4rem 1rem; */
    border-radius: 2px;
}

#tarteaucitron button.tarteaucitron-toggle-group::after {
    content: '\002B';
    margin-left: 1ch;
}

#tarteaucitron .tarteaucitronIsExpanded button.tarteaucitron-toggle-group::after {
    content: '\2212';
}

#tarteaucitron {
    position: fixed;
    top: 50% !important;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 80%;
    max-width: 80ch;
    max-height: 90%;
    overflow: auto;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 40px 80px 0px #0008;
}

#tarteaucitron .tarteaucitronBorder {
    background-color: #f6f6f6;
    padding: 3px 0;
    margin-block: var(--margin);
    border-radius: 3px;
}

#tarteaucitronServices {
    /* "!important" needed because of inline style set via js */
    font-size: 0.9rem;
    padding: var(--margin);
    padding-bottom: 0;
    height: unset !important;
    overflow: auto !important;
}

#tarteaucitronIcon {
    --height: calc((var(--margin) * 5) / 2);
    position: fixed;
    bottom: var(--half-margin);
    left: var(--half-margin);
    height: var(--height);
    width: var(--height);
}

#tarteaucitronIcon img {
    width: 100%;
}

#tarteaucitronIcon button {
    all: unset;
}

#tarteaucitronAlertBig {
    position: fixed;
    left: var(--margin);
    right: var(--margin);
    bottom: var(--margin);
    background-color: var(--c-alertBig-bg);
    padding: var(--margin);
    border-radius: 3px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 12px 3px #0005;
}

.tarteaucitronAlertBigTop {
    top: var(--margin);
}

.tarteaucitronAlertBigBottom {
    bottom: var(--margin);
}

#tarteaucitronAlertBig.narrow {
    left: 50%;
    translate: -50%;
    right: unset;
}

#tarteaucitronAlertBig.narrowLeft {
    left: var(--margin);
    right: unset;
}

#tarteaucitronAlertBig.narrowRight {
    left: unset;
    right: var(--margin);
}

#tarteaucitronRoot #tac_title::before,
#dialogTitle,
#tarteaucitronDisclaimerAlert::before {
    content: "Cookies";
    display: block;
    font-size: 2.2rem;
    margin-bottom: var(--margin);
    padding-left: 3rem;
    background-image: url(/assets/cookie.svg);
    background-size: 2.4rem;
    background-repeat: no-repeat;
    background-position: 0 50%;
    text-shadow: 2px 2px 2px #bbb;
}

#tarteaucitronRoot #tac_title::before {
    content: "";
    display: inline;
    font-size: var(--title-height);
    line-height: var(--title-height);
}

#dialogTitle,
#tarteaucitronDisclaimerAlert {
    display: block;
    margin-bottom: var(--margin);
}

#tarteaucitron button,
#tarteaucitronAlertBig button,
#tarteaucitronCloseCross {
    --c: #aaa;
    font-weight: bold;
    padding: 0.4rem 0.8rem;
    margin-left: var(--half-margin);
    background-color: transparent;
    border: 1px solid var(--c);
    border-radius: 2px;
    transition-duration: 200ms;
    transition-property: background-color, border, color, opacity;
}

#tarteaucitronAlertBig button {
    margin: 0 var(--half-margin) var(--half-margin) 0;
}

#tarteaucitronAlertBig button#tarteaucitronPrivacyUrl {
    margin-bottom: 0;
}

/*  In AlertBig div:
Personalize => "Personnaliser quand CTA false"
Personalize2 => "Tout accepter"
CloseAlert => "Personnaliser"
AllDenied2 => "Tout refuser"
PrivacyUrl => "Politique de confidentialité"
*/
#tarteaucitron button.tarteaucitronDeny,
#tarteaucitron button.tarteaucitronAllow,
#tarteaucitron button#tarteaucitronPrivacyUrlDialog,
#tarteaucitronAlertBig button#tarteaucitronPersonalize,
#tarteaucitronAlertBig button#tarteaucitronPersonalize2,
#tarteaucitronAlertBig button#tarteaucitronCloseAlert,
#tarteaucitronAlertBig button#tarteaucitronAllDenied2,
#tarteaucitronAlertBig button#tarteaucitronPrivacyUrl {
    --c: var(--c-green);
    color: var(--c);
    border-color: var(--c);
}

#tarteaucitronAlertBig button#tarteaucitronPersonalize,
#tarteaucitronAlertBig button#tarteaucitronCloseAlert {
    --c: var(--c-blue);
}

#tarteaucitron #tarteaucitronServices button.tarteaucitronDeny,
#tarteaucitron #tarteaucitronServices .tarteaucitronIsDenied button.tarteaucitronDeny,
#tarteaucitronAlertBig button#tarteaucitronAllDenied2 {
    --c: var(--c-red);
}


#tarteaucitron button#tarteaucitronPrivacyUrlDialog,
#tarteaucitronAlertBig button#tarteaucitronPrivacyUrl {
    /* display: block; */
    all: unset;
    color: var(--c-brown);
    font-weight: 600;
    text-decoration: underline solid 1px;
    text-underline-offset: 0.25rem;
}

#tarteaucitron button#tarteaucitronPrivacyUrlDialog:hover,
#tarteaucitronAlertBig button#tarteaucitronPrivacyUrl:hover {
    text-decoration-thickness: 3px;
}

#tarteaucitron #tarteaucitronServices button.tarteaucitronAllow:hover,
#tarteaucitron #tarteaucitronServices button.tarteaucitronDeny:hover,
#tarteaucitron #tarteaucitronServices .tarteaucitronIsAllowed button.tarteaucitronAllow,
#tarteaucitron #tarteaucitronServices .tarteaucitronIsDenied button.tarteaucitronDeny,
#tarteaucitron #tarteaucitronServices .tarteaucitronIsAllowed button.tarteaucitronAllow:hover,
#tarteaucitron #tarteaucitronServices .tarteaucitronIsDenied button.tarteaucitronDeny:hover,
#tarteaucitronAlertBig button#tarteaucitronPersonalize:hover,
#tarteaucitronAlertBig button#tarteaucitronPersonalize2:hover,
#tarteaucitronAlertBig button#tarteaucitronCloseAlert:hover,
#tarteaucitronAlertBig button#tarteaucitronAllDenied2:hover {
    color: #fff;
    background-color: var(--c);
    box-shadow: 0 0 3px #aaa;
}

#tarteaucitron #tarteaucitronServices_mandatory .tarteaucitronAsk button.tarteaucitronAllow,
#tarteaucitron #tarteaucitronServices_mandatory .tarteaucitronAsk button.tarteaucitronDeny {
    --c: #aaa;
    color: var(--c);
    background: repeating-linear-gradient(135deg, transparent 0, transparent 1ch, #aaa3 1ch, #aaa3 2ch);
    box-shadow: none;
    cursor: not-allowed;
    visibility: visible !important;
    opacity: 0.6;
}

/* START Close button */
#tarteaucitron #tarteaucitronClosePanel,
#tarteaucitronAlertBig #tarteaucitronCloseCross,
#tarteaucitronAlertSmall #tarteaucitronClosePanelCookie {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.8rem;
    width: 4ch;
    height: 4ch;
    border: none;
    color: transparent;
    background-color: transparent;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#tarteaucitronAlertSmall #tarteaucitronClosePanelCookie::after,
#tarteaucitronRoot #tarteaucitronClosePanel::after,
#tarteaucitronCloseCross::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.8rem;
    cursor: pointer;
    height: 4ch;
    width: 4ch;
    mask-image: url(/assets/cross.svg);
    mask-size: contain;
    -webkit-mask-image: url(/assets/cross.svg);
    -webkit-mask-size: contain;
    background-color: #aaa;
    transition-duration: 250ms;
    transition-property: background;
}

#tarteaucitronAlertSmall #tarteaucitronClosePanelCookie:hover::after,
#tarteaucitronRoot #tarteaucitronClosePanel:hover::after,
#tarteaucitronCloseCross:hover::after {
    background-color: #333;
}

/* END Close button */

#tarteaucitron .clear {
    clear: none;
}

#tarteaucitron .tarteaucitronH2 {
    display: block;
    font-size: 1.2rem;
}

#tarteaucitron #tarteaucitronServices .tarteaucitronMainLine {
    display: flex;
    flex-wrap: wrap;
}

#tarteaucitron #tarteaucitronServices .tarteaucitronMainLine #tarteaucitronInfo,
#tarteaucitron #tarteaucitronServices .tarteaucitronMainLine .tarteaucitronName,
#tarteaucitron #tarteaucitronServices .tarteaucitronMainLine .tarteaucitronAsk {
    /* background-color: #f0ebe6; */
    padding: var(--margin);
}

#tarteaucitron #tarteaucitronServices .tarteaucitronMainLine .tarteaucitronAsk button {
    margin: 0 var(--half-margin) 0 0;
}

#tarteaucitron #tarteaucitronServices .tarteaucitronMainLine .tarteaucitronAsk button+button {
    margin: 0 var(--margin) 0 0;
}

#tarteaucitron #tarteaucitronServices .tarteaucitronMainLine #tarteaucitronInfo {
    flex: 0 0 100%;
    border-radius: 3px 3px 0 0;
}

#tarteaucitron #tarteaucitronServices .tarteaucitronMainLine .tarteaucitronName {
    flex-grow: 1;
    flex-shrink: 1;
    border-radius: 0 0 0 3px;
}

#tarteaucitron #tarteaucitronServices .tarteaucitronMainLine .tarteaucitronAsk {
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 0 0 3px 0;
}

#tarteaucitronRoot br,
#tarteaucitron .tarteaucitronInfoBox,
#tarteaucitron .tarteaucitron-spacer-20,
#tarteaucitron .tarteaucitronName>span.tarteaucitronReadmoreSeparator {
    display: none;
}

#tarteaucitron .tarteaucitronAsk {
    text-align: right;
}

#tarteaucitron .tarteaucitronHidden .tarteaucitronName>span:not([class])::before,
#tarteaucitron .tarteaucitronHidden .tarteaucitronName>span[class=""]::before,
#tarteaucitron .tarteaucitronHidden .tarteaucitronName>span.tacCurrentStatus::after {
    content: "";
    display: block;
}

#tarteaucitron .tarteaucitronIsAllowed span.tacCurrentStatus,
#tarteaucitron .tarteaucitronIsDenied span.tacCurrentStatus,
#tarteaucitron span.tacCurrentStatus {
    --c: var(--c-red);
    display: inline-block;
    font-size: 0.7rem;
    color: var(--c);
    margin-left: var(--half-margin);
    padding: calc(1ch/2);
    text-transform: uppercase;
}

#tarteaucitron .tarteaucitronIsAllowed span.tacCurrentStatus {
    --c: var(--c-green);
}

#tarteaucitron span.tarteaucitronListCookies {
    display: block;
}

#tarteaucitron #tarteaucitronServices ul li ul[style*='display: block;'] {
    background-color: #efefef;
    box-shadow: inset 0 0 5px #0003;
    border-radius: 2px;
}

#tarteaucitron #tarteaucitronServices ul li ul li.tarteaucitronLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--margin);
}

#tarteaucitron #tarteaucitronServices ul li ul li.tarteaucitronLine .tarteaucitronName {
    flex: 1;
}

#tarteaucitron #tarteaucitronServices ul li ul[id] li.tarteaucitronLine:first-of-type {
    margin-top: var(--margin);
}

#tarteaucitron #tarteaucitronServices ul li ul li.tarteaucitronLine:last-child {
    border-radius: 0 0 3px 3px;
}

#tarteaucitron #tarteaucitronServices .tarteaucitronBorder>ul {
    padding-bottom: var(--half-margin);
}

#tarteaucitron #tarteaucitronServices .tarteaucitronBorder>ul>li {
    /* TODO: fix space between section when groupservices false */
    padding: var(--margin);
    padding-bottom: var(--half-margin);
    /* margin: var(--margin); */
}

#tarteaucitron #tarteaucitronServices ul li ul li {
    padding-left: var(--margin);
    margin-bottom: 0;
}

#tarteaucitron #tarteaucitronServices ul li ul[id]:not(#tarteaucitronServices_mandatory) li.tarteaucitronLine:hover {
    background-color: #ccc4;
}

#tarteaucitron #tarteaucitronServices ul li ul:first-of-type li {
    border-radius: 0 !important;
}

#tarteaucitron #tarteaucitronServices ul li ul:first-of-type li {
    padding: 0 var(--margin) 0 0;
}

#tarteaucitron #tarteaucitronServices .tarteaucitronTitle button.catToggleBtn,
#tarteaucitron #tarteaucitronServices #tarteaucitronServicesTitle_mandatory .tarteaucitronTitle button {
    line-height: 1.4;
    font-weight: 400;
    margin-left: 0;
}

#tarteaucitron #tarteaucitronServices .tarteaucitronBorder>ul>li#tarteaucitronServicesTitle_mandatory {
    /* Align all buttons on the same vertical line */
    padding-right: calc(var(--margin) * 2);
}

#tarteaucitron #tarteaucitronServices ul li ul#tarteaucitronServices_mandatory li.tarteaucitronLine {
    border-top: 0;
    margin: 0;
    padding: 0;
}

#tarteaucitron #tarteaucitronServices ul li ul#tarteaucitronServices_mandatory li.tarteaucitronLine .tarteaucitronH3 {
    all: unset;
}

#tarteaucitronServices div ul li#tarteaucitronServicesTitle_mandatory div.tarteaucitronTitle button,
#tarteaucitronServices div ul li div button.catToggleBtn,
#tarteaucitronServices div ul li ul li div span.tarteaucitronH3 {
    display: inline-block;
    margin-bottom: var(--half-margin);
    padding: 0.2rem 0.6rem;
    font-size: 0.9rem;
    color: #443e4c;
    background-color: #dcd7e5;
    border: none;
    border-radius: 2rem;
    text-shadow: 0 0 5px #9b88bc;
}

#tarteaucitronServices div ul li ul[id] li div span.tarteaucitronH3 {
    display: inline-block;
    margin-bottom: calc(var(--margin) /2);
    font-size: 0.8rem;
    color: #555;
    background-color: #fff;
    text-shadow: none;
}

#tarteaucitron #tarteaucitronServices .tarteaucitronBorder>ul>li:last-of-type {
    font-style: italic;
    padding-block: var(--margin);
}

#tarteaucitron #tarteaucitronServices ul li li[id].tarteaucitronLine {
    /* background-color: orange; */
    margin-top: var(--margin);
}

#tarteaucitron a.tarteaucitronSelfLink {
    position: absolute;
    bottom: 0;
    right: calc(var(--margin) * 2);
}

/* START AlertSmall */
#tarteaucitronAlertSmall {
    --height: calc((var(--margin) * 5) / 2);
    font-size: 0.75rem;
    position: fixed;
    bottom: var(--half-margin);
    right: var(--half-margin);
    background-color: #eee;
    height: var(--height);
    border: 1px solid #ddd;
    border-radius: 2px;
}

#tarteaucitronAlertSmall button#tarteaucitronManager {
    /* #tarteaucitronAlertSmall button#tarteaucitronCookiesNumber { */
    all: unset;
    font-size: 0.8rem;
    line-height: 1rem;
    vertical-align: middle;
    height: 100%;
    padding-inline: var(--half-margin);
}

#tarteaucitronAlertSmall button#tarteaucitronCookiesNumber {
    /* "!important" needed because of inline style set via js */
    all: unset;
    height: 100%;
    font-family: monospace;
    padding-block: 0 !important;
    padding-inline: var(--half-margin) !important;
    background-color: #ddd;
    border-left: 1px solid #ccc;
}

#tarteaucitronAlertSmall span#tarteaucitronDot {
    display: block;
}

#tarteaucitronAlertSmall span#tarteaucitronDotGreen,
#tarteaucitronAlertSmall span#tarteaucitronDotYellow,
#tarteaucitronAlertSmall span#tarteaucitronDotRed {
    float: left;
    height: 10px;
}

#tarteaucitronAlertSmall span#tarteaucitronDotGreen {
    background-color: var(--c-green);
}

#tarteaucitronAlertSmall span#tarteaucitronDotYellow {
    background-color: var(--c-yellow);
}

#tarteaucitronAlertSmall span#tarteaucitronDotRed {
    background-color: var(--c-red);
}

#tarteaucitronAlertSmall #tarteaucitronCookiesListContainer {
    /* "!important" needed because of inline style set via js */
    position: absolute;
    right: 0;
    bottom: calc(var(--height) + var(--half-margin)) !important;
    /* background-color: orange; */
    padding: var(--half-margin);
    border-radius: 2px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}

#tarteaucitronAlertSmall li.tarteaucitronCookiesListMain {
    /* background-color: pink; */
    display: flex;
    align-items: center;
    width: 40vw;
}

#tarteaucitronAlertSmall li.tarteaucitronCookiesListMain:hover {
    background-color: #e8e8e8;
}

#tarteaucitronAlertSmall #tarteaucitronCookiesTitle {
    /* background-color: lightgreen; */
    padding-bottom: var(--half-margin);
    border-bottom: 1px solid #ccc;
    padding-right: 3ch;
}

#tarteaucitronAlertSmall #tarteaucitronCookiesList {
    height: unset !important;
}

#tarteaucitronAlertSmall li.tarteaucitronCookiesListMain {
    margin-top: var(--half-margin);
}

#tarteaucitronAlertSmall li.tarteaucitronCookiesListMain div {
    flex: 1;
}

#tarteaucitronAlertSmall li.tarteaucitronCookiesListMain div.tarteaucitronCookiesListLeft,
#tarteaucitronAlertSmall li.tarteaucitronCookiesListMain div.tarteaucitronCookiesListRight {
    font-size: 0.9rem;
    word-break: break-word;
}

#tarteaucitronAlertSmall li.tarteaucitronCookiesListMain div.tarteaucitronCookiesListRight {
    font-family: monospace;
    /* background-color: olive; */
}

#tarteaucitronAlertSmall li.tarteaucitronCookiesListMain div.tarteaucitronCookiesListLeft {
    justify-self: center;
    /* background-color: tomato; */
}

#tarteaucitronAlertSmall li.tarteaucitronCookiesListMain div.tarteaucitronCookiesListLeft strong {
    font-weight: normal;
}

#tarteaucitronAlertSmall button.purgeBtn {
    all: unset;
    display: inline-block;
    font-family: monospace;
    font-size: 1.35rem;
    line-height: 1;
    color: var(--c-red);
    cursor: pointer;
    vertical-align: text-bottom;
    padding-inline: 0.75rem;
}

#tarteaucitronCookiesListContainer .tarteaucitronHidden .tarteaucitronH3 {
    display: inline-block;
    padding: 0.4rem 0.6rem;
    margin-top: var(--half-margin);
    background-color: #ddd;
    border-radius: 3px;
}

/* END AlertSmall */